header {
  height:360px;
  z-index: 10;
 
}
nav {
  width:100%;
  height:60px;
  background: red;
  z-index: 10;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
}
nav h2{
  display: inline;
  font-family: 'Brush Script MT', cursive;
  font-size: 106px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 50px;
  color: red;
  float: left;
  opacity: 0;
  padding: 10px 20px;
  height: 97px;
}
nav ul li{
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: inline;
  padding: 10px 20px;
  list-style-type: none;
  color: white;
}
nav ul{
  list-style-type: none;
  padding-top: 10px;
}
.header-banner { 

  background-image: url('title.png');
  background-size: 100%;
  background-attachment: fixed;
  width:  100%;
  height: 300px;
}

.color{
  color: white;
}


/* ----------Fixed header after top scroll */
.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
  -webkit-box-shadow: 0px -1px 28px 4px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px -1px 28px 4px rgba(0,0,0,0.74);
  box-shadow: 0px -1px 28px 4px rgba(0,0,0,0.74);
  height: 130px;
  background-color: white;
  padding: 0;
}
.fixed-nav{
  padding-top: 46px;
  font-size: 20px;
}
/* ... */



/* ----------Hover underline effect------------ */
nav ul li:before {
content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav ul li:hover:before{
content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline::before {
content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline1:hover:before {
content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav ul li:hover:before{

  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
nav ul li:hover{
  color: silver;
}
/* ... */


body{
  height: 6000px;
}



.slideshow{
  top: 130px;
  height: 400px;
  position: relative;
}

