.index-image img{

	height: 60vh;
	
	width: 50vw;
	display: inline;
	margin: 0;
	float: left;
}

.home-content{
	
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
}


.main-content{
	
	text-align: center;
	
	background-color: white;


}

body{
  background-image: url('7.png');

}


h3{
	margin-top: 40px;
	font-size: 3.5em;
	text-align: center;
	color: black;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-weight: 500;
}

.section-3{
	margin-top: 27vh;
}


h2{
	font-size: 4.5em;
	margin-bottom: 30px;
}

.section-3 p{
	font-size: 2em;
}  

.section-2 p {
	font-size: 2em;
	margin-top: 15%;
}

.image-row img{
	width: 25vw;
	display: inline;
	padding-top: 10%;
	margin: 0;
	float: left;
	height: 50vh;
}